
@model ProjectBanHang.Areas.Admin.Models.DataModels.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Areas/Admin/AssetsAdmin/stylelogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/AssetsAdmin/stylelogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/AssetsAdmin/stylelogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/AssetsAdmin/stylelogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/AssetsAdmin/stylelogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                    <span class="login100-form-title-1">
                        Sign In
                    </span>
                </div>
                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {

                    @Html.ValidationSummary(false,"", new { @color = "red"})
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "input100", @autocomplete = "off", @placeholder = "Nhập UserName"})
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        @Html.TextBoxFor(model => model.Password, new { @class = "input100", @name = "pass", @autocomplete = "off", @placeholder = "Nhập Password", Type = "password"})
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            @Html.CheckBoxFor(model => model.RememberMe, new { @class = "input-checkbox100", id = "ckb1", Type = "checkbox", @name = "remember-me"})
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>
                }

            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/AssetsAdmin/stylelogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/AssetsAdmin/stylelogin/js/main.js"></script>
</body>
</html>